body {
  background-color: plum;
  margin: 0;
  font-family: "Palatino";
  font-size: 20px;
  letter-spacing: 0.05em;
  text-align: center;
}

nav {
    font-size: 30px;
    text-align: center;
    background-color: cadetblue;
    padding-bottom: 10px;
    position: fixed;
    width: 100vw;
}

img {
  padding: 20px;
  margin: 5px;
  border-style: dotted;
}

section {
padding-top: 5px

}
